*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../img/c.jpg") no-repeat;
}
.row{
    margin: auto;
    width: 100%;
    background-color: orangered;
}
.col1{
    width: 15%;
}
.row .col1 img{
    float: left;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.col2{
    padding-top: 20px;    
    width: 60%;
}
.row .col2 h3{
    float: right;
    text-align: right;
    padding-right: 0;
    margin-left: 100px;
}
.col3{    
    width: 20%;
    text-align: right;
}
.row .col3 .btn{
    float: right;
    margin: 20px 0;
}
.wrapper .row1{
    text-align: center;
    color: #fb5103;
    height: 200px;
}
.wrapper .row1 h1{
    padding-top: 55px;
    font-size: 60px;
}
.tbl:hover{
    background-color: rgb(137, 137, 137);
    color: white;
}
@media only screen and (max-width:800px;) {
    .row{
        width: 100%;
    }
    .row .col1,.col2,.col3{
        float: none;
        display: flex;
    }
}