*{
    margin:0;
    padding:0;
}
body{
    /* background: url('../img/c.jpg') no-repeat; */
}
.bac1{
    background-color: orangered;
}
.navbar-brand img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.my-table {
table-layout: fixed;
word-wrap: break-word;
}
.text-center{
    height:90px;
    margin-top:40px;
}
.col-12 h2{
    color:orangered;
}@media(max-width:800px){
    .bac1 h1{
        font-size: 27px;
    }
}